/* orange: #ff6600 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/gradient.jpg);
    background-size: cover;
}

/* NAVBAR */
.top-header .navbar-brand > img {
    height: 50px;
}

.top-header .nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.top-header .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

/* PAGE HEADER */
.page-header {
    padding-top: 0;
    margin-top: 0;
    border: 0;
    margin-bottom: 0;
}

.page-header > h1 > span {
    font-size: 80px;
    margin: 0;  
}

.page-header .nav {
    margin-top: 16px;
}

.page-header small {
    font-size: 16px;
}

.color-active a {
    color: white !important;
}

/* BODY */
    

/* MAP */
#map {
    height: 380px;
    width: 800px;
    border: 3px solid black;
}

/*INFO BOX*/
